[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/thedevbirb/nvim
[submodule ".config/alacritty/catppuccin"]
	path = .config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty
